* {

    margin: 0;
    padding: 0;

}

body,
html {

    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;

    background-color: #467dfc21;
    padding: 0;
    margin: 0;

    overflow-x: hidden;

}

header {

    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

    & h1 {

        margin: 0em;
        padding: 1em 2em;
        border: 1px solid black;
        border-bottom: 0;
        color: white;
       
        // :') no logo ? No problem :')
        & span {

            display: inline-block;
            transform: rotate(90deg);
            font-size: 25px;
            position: relative;
            top: -7px;
            left: 5px;

        }
    }
}

nav {

    display: flex;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0.699);
    background-color: white;
    padding: 0px;
    margin: 0em;

    & a  {

        display: flex;
        justify-content: center;
        align-items: center;
        color: inherit;
        text-decoration: inherit;
        padding: 10px 0;
        border-left: 1px solid rgba(0, 0, 0, 0.699);
        
        width: 20vw;
        font-size: 20px;
        
        &:hover {

            background-color: rgba(63,94,251,1);
            color: white;

        }
    }

}

main {

    display: flex;
    justify-content: space-around;

}

aside {
    
    text-align: justify;

    width: 25%;
    height: 1200px;

    & h2 {

        text-align: center;
        margin: 16px 0;
        padding: 0;

    }

    & p {

        padding: 30px;

    }

}

.aside {

    background-color: white;
    margin: 1em 1em;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .6);

}

.sidebar {

    position: relative;

}


article {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    background-color: white;
    margin: 1em 1em;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .6);

    width: 75%;
    height: 1200px;

    & :nth-child(3) {

        text-align: center;
        margin: 2em 0;

    }

    & h2 {

        margin-bottom: 2em;
        font-size: 2rem;

    }

    & p {

        text-align: justify;

    }

}

footer {

    & hr {

        margin-top: 1em;
        border: 1px solid rgba(0, 0, 0, 0.24);
        

    }

    & p {

        text-align: center;
        padding: 10px;

    }

}

// ########## JS ##########

.fixed {

    position: fixed;
    opacity: 0.7;

}